@import "sx-style";

#loginBox {
  @include size(390px, 260px);
  @include absolute-center;
  @include mdc-elevation(2);
  @include grid-center;
  background: $prim-clr;
  border-radius: 5px;

  div {
    text-align: center;
  }

  .formControl {
    margin-top: 10px;
  }

  .button {
    margin-top: 30px;
  }
}
